<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/head :: head}">
    <title>Вопросы</title>
</head>
<body th:class="${themeClass}">
<div style="margin: 0 15%; text-align: center;">
    <h1>Вопросы по тексту №<span th:text="${textNumber}"></span></h1>
    <form th:action="@{/experiment/{textNumber}/quiz(textNumber=${textNumber}, userId=${userId})}" method="post" class="mt-3">
        <div style="margin: 0 35%; text-align: left;" th:each="q: ${questions}" class="mb-4">
            <p class="fw-bold" th:text="${q.questionText}"></p>
            <div class="form-check" th:each="i: ${#numbers.sequence(1,3)}">
                <input class="form-check-input" type="radio" th:name="${'q' + q.id}" th:value="${i}" required>
                <label class="form-check-label" th:text="${q['option' + i]}"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Отправить ответы</button>
    </form>
</div>
</body>
</html>
